
<div class="bg-light p-5 rounded-lg m-3 mt-4">
  <h1 class="display-4">Bem-vindo ao Blog Tech</h1>
  <p class="lead">Explore o fascinante mundo das linguagens de programação em nosso blog! Aqui você encontrará postagens detalhadas sobre diversas linguagens de programação, organizadas em categorias para facilitar a navegação e o aprendizado. Nosso objetivo é ajudar desenvolvedores, desde iniciantes até especialistas, a expandirem seus conhecimentos e habilidades no universo da programação.</p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes: </h2>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small>
        <small>Data de publicação: {{data}}</small>
      
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}
